@tailwind base;
@tailwind components;
@tailwind utilities;

.Repos {
    color: #DA4A91;
    background-color: hsla(330, 66%, 57%, 0.541);
}
.Followers {
    color:#2CAEBA;
    background-color: #2caeba8a;
}
.Following {
    color:#5D55FA;
    background-color: #5d55fa88;
}
.Gits {
    color:#F0B429;
    background-color: #f0b42988;
}
/* css for charts */
.fusioncharts-container{
    width: 100% !important
}
.fusioncharts-container svg {
    width: 100% !important
}